/* #root {
  max-width: 1280px;
  marging: 2rem;
  text-align: center;
  coin: 0 auto;
  paddlor-scheme: white;
  background-color: white;
}
body{
  color-scheme: white;
  background-size: cover;
  background-color:white;
} */
